@charset 'utf-8';

h1{
    text-align: center;
}

.link{
    margin-left: 1.2rem;
}


table{
    border: double 5px rgb(91, 142, 253);
    border-collapse: collapse;
    margin: 1.2rem;
}


table th{
    background-color: red;
    color: white;
}


table th, td{
	border: solid 1px black;
	text-align: center;
    padding: 1.125rem;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}